@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.leaderboard {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #573131;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: calc(
    100vh - 55px
  ); /* Assuming your navbar height is 70px, adjust accordingly */
  overflow: auto;
  padding: 0 2%;
  background-color: #333;
}

.leaderboard__container {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  padding: 10px 5px;
}

.leaderboard__itemNum,
.leaderboard__displayName,
.leaderboard__points {
  flex: 1;
}

.leaderboard__itemNum {
  text-align: left;
}

.leaderboard__points {
  text-align: right;
}

/* For ProfilePic component */
.leaderboard__profilePic {
  background-size: 100%;
  width: 42px;
  height: 42px;
  border-radius: 18px;
  border: 2px solid rgb(255, 255, 255);
  background-repeat: no-repeat;
  margin-right: 10px;
}
@media (max-width: 600px) {
  .leaderboard__profilePic {
    background-size: cover;
    width: 80%;
    height: auto;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

.leaderboard__title {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 36px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
